.explore-com {
    height: 60px;

    display: grid;
    grid-template-columns: 1fr 9fr;
    background-color: var(--white);
    box-shadow: 0px 3px 12px #00000029;

}

.img-search {
    top: 10px;
    height: 40px;
    width: 40px;
    box-shadow: 0px 3px 12px #00000029;
}

.side-nav {
    flex: 3;
    height: calc(100vh - 50px);

    position: sticky;
    top: 50px;

    border: none;

    box-shadow: 0px 3px 12px #00000029;

    color: #3c4358;

}

.sidebarList {

    padding: 0;
    margin: 0;
    list-style: none;
    background-color: #f6f8fd;
    margin-top: 60px;
    height: calc(100vh - 60px);


}

.sidebawrapper {
    padding: 0px;

}

.sidebarListItem {
    display: flex;
    align-items: center;
    margin-bottom: 20px;


}

.side-nav nav ul li i {
    top: 60px;
    margin-top: 35px;
    font-size: 20px;
    font-weight: bolder;
    margin-right: 30px;
    left: 29px;
    list-style-type: none;


}

.side-nav .selectedLink {
    top: 60px;
    font-size: 20px;
    font-weight: bolder;

    left: 19px;
    list-style-type: none;
    background-color: #3c4358;
    background-color: #3c4358;


}

.top-nav {
    border-radius: 20px;
    border: none;
    height: 60px;
    padding-left: 1px;
    box-shadow: 0px 3px 12px #00000029;

}

.top-nav input {

    width: 400px;
    height: 35px;
    border: lightgray solid 0.1px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    background-color: var(--white);
    box-shadow: 0px 3px 12px #00000029;
    outline: none;
    margin-left: 5px;

}

.top-nav select {

    width: 120px;
    height: 35px;
    border: lightgray;
    /*border-bottom-right-radius: 20px;*/
    border-top-right-radius: none;
    background-color: var(--white);
    box-shadow: 0px 3px 12px #00000029;
    outline: none;
    border: none;

}

.i-search {
    background-color: #3c4358;

    top: 10px;
    height: 35px !important;
    position: relative;
    color: honeydew;
    border-top-right-radius: 40%;
    border-bottom-left-radius: 50%;
    width: 40px !important;

    box-shadow: 0px 3px 12px #00000029;


}


.top-nav .right {
    flex: 3;
    margin-left: 230px;
    display: inline;
    font-display: 65px;


}


.top-nav button {
    color: white;
    position: relative;
    left: 190px;
    margin-top: 10px;
    width: 180px;
    height: 35px;
    background-color: red;
    border-radius: 5px;
    border: none;
    border-color: red;
    outline: none;
    box-shadow: 0px 3px 12px #00000029;

}

.top-nav .right ul {

    list-style-type: none;
    display: inline-block;

}

.top-nav .right ul li i {
    margin-top: 20px;
    font-size: 20px;
    font-weight: lighter;
    margin-right: -3px;
    color: #3c4358;
}

.top-nav .right ul li img {
    margin-right: 10px;
    margin-top: -5px;

    height: 30px;
    width: 30px;
    object-fit: cover;
    cursor: pointer;


    display: inline-block;
}

.toptick {
    height: 5px;
    width: 3px;

}

.right span {
    color: red;
    margin-top: 5px;
    position: absolute;
    z-index: 1;


    padding: 5px;
    width: 15px;
    height: 10px;

}


.selectedLink {
    background-color: black;
    text-decoration: none;
    color: #3c4358;
}

a:hover {
    text-decoration: none;

}


/* --------- Dropdown ---------- */

