.forgot-com {
    text-align: center;
    background-color: gray;
    height: 100vh;
    width: 100%;
    margin: 0px;

}

.forgot-com form {

    width: 100%;
    height: auto;
}

.forgot-form form h3 {
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;

}

.wraps {
    background-color: lightgray;
    margin-left: 30%;
    width: 500px;
    margin-top: 1px;
    background-color: var(--lightgray);
    box-shadow: 1px 4px 13px #00000029;
    position: relative;
}

.img-fpass {
    height: 40px;
    width: 40px;
}

.containers {
    margin-top: 0px;
    margin-left: 27%;
    position: absolute;
}

.containers label {
    width: 400px;
    height: 25px;
    color: white;
    left: 0%;
    position: relative;

}

.containers input {
    width: 400px;
    height: 35px;
    margin-left: 25%;
    outline: none;
    border-radius: 5px;
    border: none;
    margin-top: 0px;
}

.containers button {
    color: white;
    position: relative;
    margin-left: 25%;
    margin-top: 20px;
    width: 400px;
    height: 35px;
    background-color: red;
    border-radius: 5px;
    border: none;
    border-color: red;
    outline: none;
    box-shadow: 0px 3px 12px #00000029;
}

.errors {
    color: white;;
}