.image-col { 
    float: left;
    width: 50%;
    height: 100%;
}

.image-col img {
    width: 850px;
    height: 794px;
    object-fit: fill;
}

.form-col {
    float: right;
    padding: 100px;
    width: 50%;
    height: 100%;
}

.form-col img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}

.form-col h2 {
    text-align: center;
}

.form-col p {
    text-align: center;
    font-weight: bolder;
    color: rgb(109, 109, 109);
}

.form-col .facebook-btn {
    background-color: #17009b;
    border: none;
    color: white;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 100%;
    border-radius: 8px;
}

.form-col .login-btn {
    background-color: red;
    border: none;
    color: white;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 100%;
    border-radius: 8px;
}

.form-col label {
    font-weight: bold;
    color: #707070;
}

.form-col input {
    width: 100%;
    border-radius: 5px;
    border: 1px solid  #9e9e9e;
    line-height: 30px;
}

.form-col .form-link {
    text-align: right;
    font-weight: bold;
}

.form-col .icon-facebook {
    width: 24px;
    height: 24px;
    color: white;
    background-color: #17009b;
    justify-content: row;
}

.form-col i {
    display: inline-block;
    margin-right: 1em;
}

@media screen and (max-width: 1280px) {
    .image-col img {
       display: none;
    }

    .form-col {
        object-position: 50% 50%;
        width: 100%;
        height: auto;
    }

    .form-col .input-spacing {
        flex-direction: column;
    }
}