.page-not-found {
    margin-top: 50px;
    text-align: center;
    justify-content: center;
}

.page-not-found h1 {
    font-weight: bolder;
}

.page-not-found .Image-file {
    height: 40%;
    width: 40%;
}

.page-not-found .button {
    justify-content: center;
    flex-direction: row;
    display: flex;
    gap: 10px 20px;
}

.page-not-found .btn-home {
    background-color: rgb(126, 125, 125);
    border: none;
    color: white;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    width: 100%;
    border-radius: 4px;
}