.hidden-div {
    height: 100px;
}

.arrow {
    margin-top: 50px;
    margin-left: 50px;
}

.profille-container {
    margin-top: 0px;
    margin-left: 50;
    margin-right: 5px;
}

.profileback {
    display: block;
    margin-top: 0px;
    margin-left: 200px;
    margin-right: auto;
    width: 85%;
    height: 350px;
    border-radius: 5px;
}


.profile-info {
    margin-left: 300px;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: bold;
}

.image-size img {
    display: block;
    margin-top: -170px;
    margin-left: auto;
    margin-right: auto;
}


.tabs {
    padding: 15px;
    text-align: center;
    width: 50%;
    cursor: pointer;
    box-sizing: content-box;
    position: relative;
    outline: none;
    display: inline;
}

.tab-active {
    color: #3c4358;
    display: inline;
    background: white;
    border-bottom: 1px solid transparent;
    border-bottom: 1px solid red;
}

.content-tabs {
    flex-grow: 1;
}

.content {
    background: white;
    padding: 20px;
    width: 85%;
    height: 100%;
    display: none;
}

.content h2 {
    font-size: 20px;
    font-weight: 20px;


    color: #3c4358;
}

.content hr {
    width: 100%;
    height: 2px;
    background: #222;
    margin-bottom: 5px;
}

.content p i {
    width: 100%;
    height: 100%;
    font-size: 20px;
    justify-self: start;
}

.active-content {
    display: block;
}

.profile-name {
    text-align: center;
    font-weight: bold;
}

.line {
    width: 85%;
    margin-left: 200px;
    margin-right: auto;
}